<template name="dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Public Items Dashboard
                <input type="text" class="col-sm-2 pull-right" name="search" id="search" placeholder="Search..">
            </h3>
        </div>
        <div class="panel-body">
            <ul>
            {{#each items}}
                {{> showItem}}
            {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="showItem">
    <li class="col-md-3">
        <div class="thumbnail" style="padding: 0">
            <div class="caption">
                <h2><a href="{{pathFor 'sellView' _id=Item._id}}">{{Item.name}} - ${{Item.price}}</a></h2>
                <p>Amount Saved Until Now: ${{amountSaved}}</p>
                <p>Amount Still Needed: ${{missing}}</p>
                <p>Last Installment {{lastTransaction}}</p>
                {{#if barIsSuccess}}
                    <icon class="glyphicon glyphicon-ok-sign"></icon>
                {{/if}}


            </div>
            <div class="modal-footer" style="text-align: left">
                <div class="progress">
                    {{#if barIsDanger}}
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
                        <span class="sr-only">{{percentage}} Complete</span>
                    </div>
                    {{/if}}
                    {{#if barIsWarning}}
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
                        <span class="sr-only">{{percentage}} Complete</span>
                    </div>
                    {{/if}}
                    {{#if barIsInfo}}
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
                        <span class="sr-only">{{percentage}} Complete</span>
                    </div>
                    {{/if}}
                    {{#if barIsSuccess}}
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
                        <span class="sr-only">{{percentage}} Complete</span>
                    </div>
                    {{/if}}

                </div>
                <div class="row">
                    <div class="col-md-4"><b>{{percentage}}% Funded</b></div>
                </div>
            </div>
        </div>
    </li>
</template>