<template name="newGoal">
    <div class="panel col-md-8 col-md-offset-2" style="color: white;">
        <div class="panel-heading" style="background-color: #000000;width:100%;" width="100%">
            <h3 class="panel-title">Add A New Goal</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="itemName" class="col-sm-2 control-label">Item Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="itemName" id="itemName" placeholder="Name" value="Call of Duty">
                    </div>
                </div>
                <div class="form-group">
                    <label for="totalAmount" class="col-sm-2 control-label">Total Amount:</label>
                    <div class="col-sm-10">
                        <input type="currency" class="form-control" name="totalAmount" id="totalAmount" placeholder="Total Amount" value="50">
                    </div>
                </div>
                <div class="form-group">
                    <label for="installmentAmount" class="col-sm-2 control-label">Installment Amount:</label>
                    <div class="col-sm-10">
                        <input type="currency" class="form-control" name="installmentAmount" id="installmentAmount" placeholder="Installment Amount" value="25">
                    </div>
                </div>
                <div class="form-group">
                    <label for="charity" class="col-sm-2 control-label">Charity:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="charity" id="charity" placeholder="Charity" value="St. Jude">
                    </div>
                </div>
                <div class="form-group">
                    <label for="charityAmount" class="col-sm-2 control-label">Amount To Donate:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="charityAmount" id="charityAmount" placeholder="Amount (%)" value="10">
                    </div>
                </div>
                <div class="form-group">
                    <label for="frequency" class="col-sm-2 control-label">Payment Frequency:</label>
                    <div class="col-sm-10">
                        <select class="form-control"  name="frequency" id="frequency">
                            <option value="">Please Select</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly" selected>Monthly</option>
                            <option value="Quarterly">Quarterly</option>
                            <option value="Yearly">Yearly</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                        <select class="form-control"  name="category" id="category">
                            <option value="">Please Select</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Automotive">Automotive</option>
                            <option value="Literature">Literature</option>
                            <option value="Clothing">Clothing</option>
                            <option value="Games" selected>Games</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"><icon class="glyphicon glyphicon-plus"></icon> Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>