<template name="sellView">
    <div class="panel panel-primary col-md-8 col-md-offset-2">
        <div class="panel-heading">
            <h3 class="panel-title">Sell View</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="itemName" class="col-sm-2 control-label">Item Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly="true" name="itemName" id="itemName" value="{{fullItem.name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly="true" name="category" id="category" value="{{fullItem.category}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly="true" name="price" id="price" value="${{fullItem.price}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="amountSaved" class="col-sm-2 control-label">Amount Saved Until Now:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly="true" name="amountSaved" id="amountSaved" value="${{fullItem.amountSaved}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="amountNeeded" class="col-sm-2 control-label">Amount Still Needed:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly="true" name="amountNeeded" id="amountNeeded" value="${{fullItem.missing}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastInstallment" class="col-sm-2 control-label">Last Installment:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly="true" name="lastInstallment" id="lastInstallment" value="{{fullItem.lastTransaction}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"><icon class="glyphicon glyphicon-plus"></icon> Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>