<template name="userProfile">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{#if userProfileInfo.braintree}}
            <p>You already setup your payment details.</p>
            <p><button type="submit" class="btn btn-lg btn-primary" id="btnChangePaymentInfo">Click here to change it!</button></p>
            {{else}}
            <form class="form-horizontal" role="form" name='userProfile' id="userProfile">
                <fieldset>

                    <!-- Form Name -->
                    <!--<legend>User Profile - {{user_name}}</legend>-->

                    <legend>Payment Method</legend>
                    <div id="dropin"></div>

                    <script>
                        Meteor.call('getBrainTreeToken', '',function(error, response) {
                                braintree.setup(response, "dropin", {container: "dropin", paymentMethodNonceReceived: function(even, nonce){
                                    Meteor.call('addCard', nonce, function(error, response){
                                        console.log(response);
                                    });
                                }});
                            }
                        );
                    </script>

                </fieldset>
                <br />
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
            </form>
            {{/if}}
        </div><!-- /.col-lg-12 -->
    </div>
</template>