<template name="viewItemTransactions">
    <div class="panel panel-primary col-md-8 col-md-offset-2">
        <div class="panel-heading">
            <h3 class="panel-title">Item Transactions</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="itemName" class="col-sm-2 control-label">Item Name:</label>
                    <div class="col-sm-10">
                        {{viewItem.name}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="totalAmount" class="col-sm-2 control-label">Total Amount:</label>
                    <div class="col-sm-10">
                        ${{viewItem.price}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="installmentAmount" class="col-sm-2 control-label">Saved:</label>
                    <div class="col-sm-10">
                       ${{viewItem.amountSaved}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="charity" class="col-sm-2 control-label">Installment:</label>
                    <div class="col-sm-10">
                        ${{viewItem.installmentAmount}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="charity" class="col-sm-2 control-label">Missing:</label>
                    <div class="col-sm-10">
                        ${{viewItem.missing}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="charity" class="col-sm-2 control-label">Missing:</label>
                    <div class="col-sm-10">
                        {{viewItem.category}}
                    </div>
                </div>
                </form>
        </div>

    </div>
    <div class="panel panel-primary col-md-11 col-md-offset-1">
        <div class="container">
            <div class="row">
                <div class="span5">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Transaction Id</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each viewItem.transactions}}
                            <tr>
                                <td>{{_id}}</td>
                                <td>{{date}}</td>
                                <td>${{amount}}</td>
                                {{#if success}}
                                    <td><span class="label label-success">{{status}}</span></td>
                                {{else}}
                                    <td><span class="label label-danger">{{status}}</span></td>
                                {{/if}}
                            </tr>
                        {{/each}}
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

